# **PANDAS**

In [ ]:
## importing pandas

In [ ]:
import pandas as pd

In [ ]:
## ignore warnings

In [ ]:
import warnings
warnings.filterwarnings ('ignore')

**SERIES**

In [ ]:
## Series Creation

In [ ]:
lst =[10,10.5,'Surya']

In [ ]:
type(lst)

list

In [ ]:
s=pd.Series(lst)

In [ ]:
s

0       10
1     10.5
2    Surya
dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
## Above: This is how convert list into series

In [ ]:
## Below: Now, to create a series

In [ ]:
s1 = pd.Series (data= ['Python', 'ML', 'DL', 'AI'], index = ['Sub1', 'Sub2', 'Sub3', 'Sub4'], name = 'Subject')
s1

Sub1    Python
Sub2        ML
Sub3        DL
Sub4        AI
Name: Subject, dtype: object

In [ ]:
## now, converting dictionary to series

In [ ]:
d={1:'Python', 2:'ML', 3:'DL', 4:'AI'}
d

{1: 'Python', 2: 'ML', 3: 'DL', 4: 'AI'}

In [ ]:
type (d)

dict

In [ ]:
S2 = pd.Series (d)
print(S2)
print (type(S2))

1    Python
2        ML
3        DL
4        AI
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
## Accessing the elements

In [ ]:
s1['Sub1']

'Python'

In [ ]:
s1 ['Sub3']

'DL'

In [ ]:
## Series Slicing

In [ ]:
S2

1    Python
2        ML
3        DL
4        AI
dtype: object

In [ ]:
S2[1:3]

2    ML
3    DL
dtype: object

In [ ]:
S2[1]

'Python'

**DATA FRAMES**

In [ ]:
## Creating a nested list data frame

In [ ]:
lst=[['Python',50,'Pune'],['ML',100,'HYD'],['DL', 80,'Mumbai']]
col=['Subject','Marks','City']

In [ ]:
df= pd.DataFrame(data=lst, columns=col)

In [ ]:
df

  Subject  Marks    City
0  Python     50    Pune
1      ML    100     HYD
2      DL     80  Mumbai

In [1]:
## Creating a dictonary data frame

In [ ]:
df1=pd.DataFrame ({'Rank': [1,2,3],'Python':[100,80,70],'ML':[90,70,60]})
df1

   Rank  Python  ML
0     1     100  90
1     2      80  70
2     3      70  60

In [ ]:
## Check for number of rows and columns in dataframe

In [ ]:
df.shape

(3, 3)

In [ ]:
df.ndim

2

In [ ]:
## Data types for each column

In [ ]:
df

  Subject  Marks    City
0  Python     50    Pune
1      ML    100     HYD
2      DL     80  Mumbai

In [ ]:
## This is to see the data type of every column
df.dtypes

Subject    object
Marks       int64
City       object
dtype: object

In [ ]:
## To see the data type of one column
df['Subject'].dtype

dtype('O')

In [ ]:
df['Marks'].dtype

dtype('int64')

In [ ]:
## Extracting only the column name from the dataframes

In [ ]:
## This is a way but not suggested cuz we cant use this if the column name has space in it
df.Subject

0    Python
1        ML
2        DL
Name: Subject, dtype: object

In [ ]:
df['Subject'].dtype

dtype('O')

In [ ]:
## Instead use this
df['Subject']

0    Python
1        ML
2        DL
Name: Subject, dtype: object

In [ ]:
df1[['Rank','Python']]

   Rank  Python
0     1     100
1     2      80
2     3      70

In [ ]:
## Descriptive stats for df

In [ ]:
df1.describe()

       Rank      Python         ML
count   3.0    3.000000   3.000000
mean    2.0   83.333333  73.333333
std     1.0   15.275252  15.275252
min     1.0   70.000000  60.000000
25%     1.5   75.000000  65.000000
50%     2.0   80.000000  70.000000
75%     2.5   90.000000  80.000000
max     3.0  100.000000  90.000000

In [ ]:
df.describe()

            Marks
count    3.000000
mean    76.666667
std     25.166115
min     50.000000
25%     65.000000
50%     80.000000
75%     90.000000
max    100.000000

In [ ]:
## to include all the columns

In [ ]:
df.describe(include='all')

       Subject       Marks  City
count        3    3.000000     3
unique       3         NaN     3
top     Python         NaN  Pune
freq         1         NaN     1
mean       NaN   76.666667   NaN
std        NaN   25.166115   NaN
min        NaN   50.000000   NaN
25%        NaN   65.000000   NaN
50%        NaN   80.000000   NaN
75%        NaN   90.000000   NaN
max        NaN  100.000000   NaN

In [ ]:
## To transpose
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Subject,3,3,Python,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marks,3.0,NaN,NaN,NaN,76.666667,25.166115,50.0,65.0,80.0,90.0,100.0
City,3,3,Pune,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## Getting information about the dataframe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  3 non-null      object
 1   Marks    3 non-null      int64
 2   City     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [ ]:
## Checking null values

In [ ]:
df.isnull()

   Subject  Marks   City
0    False  False  False
1    False  False  False
2    False  False  False

In [ ]:
df.isnull().sum()

Subject    0
Marks      0
City       0
dtype: int64